<% include ../partials/header %>

<div class="container">

    <div class="row justify-content-center">
        <h1>Edit a <%= review.name %></h1>
    </div>

    <div class="row border">

        <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
            <input type="text" placeholder="Title" name="post[name]" value="<%= review.name %>">
            <input type="text" placeholder="Image URL" name="post[image]" value="<%= review.image %>">
            <textarea name="post[review]" placeholder="Enter your review here"><%= review.review %></textarea>
            <button>Submit</button>
        </form>
    </div>


</div>





<% include ../partials/footer %>